---
title: Blog Posts
---

<% posts = @items.reject {|i| !(i[:kind] == 'blog-post') } %>
<% posts.sort_by! {|i| i[:created_at] } %>
<% posts.reverse! %>

<% posts.each do |post| %>
  <div class="post-summary">
    <p>
      <small>
        <em>
          Created <%= post[:created_at] %> by <%= post[:author] || "Gabe Koss" %>
        </em>
      </small>
    </p>

    <h2>
    <% if post[:redirect] %>
      <a href="<%= post[:redirect_path] %>"><%= post[:title] %></a>
    <% else %>
      <a href="<%= post.path %>"><%= post[:title] %></a>
    <% end %>
  </h2>
    <p><%= post[:summary] %></p>

    <% if post[:redirect] %>
      <p><a href="<%= post[:redirect_path] %>">visit link ...</a></p>
    <% else %>
      <p><a href="<%= post.path %>">read post ...</a></p>
    <% end %>

    <% if post[:tags] %>
      <hr/>
      <p class='tags'>
        <% post[:tags].each do |t| %>
          <a href="/tags/<%=t.gsub(/ /,'_') %>"><%= t %></a>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
