---
title: Hack Stuff!
---

<% require 'json' %>

<% posts = Post.all_from(@items) %>

<% posts[0..(Post::AJAX_SLICE_SIZE-1)].each do |post| %>
  <div class="post-summary">
    <p>
      <small>
        <em>
          Written <%= post[:created_at] %> by <%= post[:author] || "Gabe Koss" %>
        </em>
      </small>
    </p>

    <h2>
    <% if post[:redirect] %>
      <a href="<%= post[:redirect_path] %>" target="_blank"><%= post[:title] %></a>
    <% else %>
      <a href="<%= post.path %>"><%= post[:title] %></a>
    <% end %>
  </h2>
    <p><%= post[:summary] %></p>

    <% if post[:redirect] %>
      <p><a href="<%= post[:redirect_path] %>" target="_blank">visit link ...</a><br/>
      <small>This is an external link.</small></p>
    <% else %>
      <p><a href="<%= post.path %>">read post ...</a></p>
    <% end %>

    <% if post[:tags] %>
      <p class='tags'>
        <% post[:tags].each do |t| %>
          <a href="/tags/<%=t.gsub(/ /,'_') %>"><%= t %></a>
        <% end %>
      </p>
    <% end %>
    <hr/>
  </div>
<% end %>

<span id="page-location" style="display:none;">1</div>
