---
title: Hello!
kind: homepage
---

<h1>Gabe Koss</h1>
<p>I am a programmer of things that make use of the Internet. I work at <a href="http://pwnieexpress.com">Pwnie Express</a></p>
<hr/>

<h3>Recent Blog Posts</h3>
<% posts = @items.reject {|i| !(i[:kind] == 'blog-post') } %>
<% posts.reject! {|i| i[:tags].include?('link') } %>
<% posts.sort_by! {|i| i[:created_at] } %>
<% posts.reverse! %>

<% posts[0...4].each do |post| %>
  <p>
    <strong>
      <a href="<%= post.path %>"><%= post[:title] %></a>
    </strong><br/>
    <small><em>Created <%= post[:created_at] %> by <%= post[:author] || "Gabe Koss" %></em></small><br/>
    <%= post[:summary] %></a>
  </p>
<% end %>
